* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v66_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_4 {
  width: 1px;
  height: 4px;
  background: url("../images/v66_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}

.v66_6 {
  width: 80%;
  height: 100%;
  background: url("../images/v66_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 30%;
  overflow: hidden;
  border:solid 4px white;
}
.v66_7 {
  width: 40%;
  height: 100%;
  background: url("../images/v66_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left:0;
  overflow: hidden;
  border:solid 4px white;
}
.v66_8 {
  width: 100%;
  height: 72px;
  background: rgba(139,184,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_9 {
  width: 100px;
  height: 46px;
  background: rgba(255,255,255,1);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 91%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 2px black;
}
.v66_10 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  
}
.v66_11 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 35px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v66_12 {
  width: 331px;
  height: 92px;
  background: rgba(139,184,247,1);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 525px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_13 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 140px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v66_14 {
  width: 308px;
  height: 74px;
  background: rgba(139,184,247,0.5);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 1150px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_15 {
  width: 141px;
  height: 74px;
  background: rgba(139,184,247,0.5);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 1233px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_16 {
  width: 141px;
  height: 74px;
  background: rgba(139,184,247,0.5);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 1233px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_17 {
  width: 247px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 43%;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v66_18 {
  width: 331px;
  height: 92px;
  background: rgba(139,184,247,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 525px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_19 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 68px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v66_20 {
  width: 308px;
  height: 76px;
  background: rgba(139,184,247,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 850px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_21 {
  width: 162px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v66_22 {
  width: 331px;
  height: 92px;
  background: rgba(139,184,247,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 525px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border:solid 4px white;
}
.v66_23 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 77px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
